/*maybe montserrat
merriweather
fonts.google.com

use percentage width of parents
use float example fro portfolio images, section 55. could use divs
*/
body {
  background-color: #EAF6F6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.card {
  background-color: white;
}

/*
hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

*/
/*
.red { background-color: red}

.white { background-color: white}

#myheading{
  color: blue
}

*/

/*
table {
  border-spacing: 0;
}*/

/*
img:hover{
  background-color: green
}

div {
  background-color: blue
}

*/
