/*maybe montserrat
merriweather
fonts.google.com
use percentage width of parents
use float example fro portfolio images, section 55. could use divs
*/
@media only screen and (max-width: 800px) {
  .subCardText {
    margin: 0 10px;
    height: 343;
    vertical-align: middle;
  }

  .subCardImage {
    width: 100%;
    margin: 0 10px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1400px) {
  .subCardText {
    margin: 0 10px;
    height: 343;
    vertical-align: middle;
  }

  .subCardImage {
    width: 60%;
    margin: 0 10px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }
}

/*@media only screen and (min-width: 1401px) {*/
@media only screen and (min-width: 1401px) {
  .subCardText {
    margin: 0 10px;
    display: inline-block;
    height: 343;
    vertical-align: middle;
    width: 300px;
  }

  .subCardImage {
    width: 40%;
    margin: 0 10px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }
}

body {
  /*  background-color: #EAF6F6; */
  background-color: #32C3FF;
  /* Blue */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}
